body {
	font-family: 'Lato', sans-serif;
	background: #333;
	color : #fff;
}
.col {
	float: left;
	width: 33.3%;
	padding : 8px;
	box-sizing: border-box;
}
.price-box {
	background: #fff;
	color : #555;
	list-style-type: none;
}